@tailwind base;
@tailwind components;
@tailwind utilities;

.banner{
  position: absolute;
  top: 35%;
  left: 50%;
  
}

@media screen and (max-width:800px){
    body{
      font-size: 10px;
    
    }
    .textbox{
      top: 3cm;
    }
    .lastimg img{
      width: 25%;
      
   }
}    